/*
@app playlistExpo for Google Play Music&trade;
@author Maxwell L Koster

CSS for popup.html.
*/
body {
  width: 150px;
  text-align: center;
  border: 2px solid #ff5722;
  border-radius: 5px;
  padding: 8px 14px 8px;
  margin: 3px;
}
#title {
  color: #0A0B0A;
  font-size: 1.3em;
  line-height: 125%;
  margin-bottom: 10px;
}
#subtitle {
  color: #3A3A3A;
  font-size: 1em;
  font-weight: 450;
  margin-bottom: 5px;
}
#popup_button {
  background-color: #FFC8B7;
  border: 2px solid #ff5722;
  border-radius: 5px;
  cursor: pointer;
}
#popup_button:hover {
  background-color: #89F390;
  border: 2px solid #00C40D;
}
img {
  width: 90px;
  height: 56px;
}